/*  */

/*
http://htmlbook.ru/content/svoystva-teksta
https://html5css.ru/howto/howto_css_dropdown_navbar.php

*/

/* 
Здесь представлено описание оформления
основных элементов сайта:
 общий стиль страниц
 шапка
 навигационная панель
 подвал
 текст на сайте
*/

/* Общий стиль */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Оформление шапки сайта */
header.header {
    /* ширина шапки */
    width: 100%;
    /* цвет фона */
    background: #720481;
    /* высота в пикселях */
    height: 50px;

    /* Шрифт */
    font-family: 'Times New Roman', Times, serif;
    /* Стиль (нормальный, курсив и т.д.) */
    font-style: normal;
    /* Капитель (особые пропписные буквы) */
    font-variant: normal;
    /* Насыщенность шрифта */
    font-weight: bolder;
    /* Размер текста */
    font-size: 42px;
    
    /* Интерлиньяж (межстрочный интервал) */
    line-height: normal;
    /* Оформление */
    text-decoration: none;
    /* Эффекты */
    text-transform: none;
    /* Выравнивание текста */
    text-align: center;
    /* Отступ первой строки */
    text-indent: 0%;
    
    /* Тень текста */
    text-shadow: 4px 4px 4px #000000;
    /* Цвет текста */
    color: #08e313cd;
}



/* Оформление навигационной панели */
/* Сама панель */
.navbar {
    /* Что делать с переполнением */
    overflow: hidden;
    /* Цвет фона */
    background-color: #000000;
    /* Шрифт */
    font-family: 'Times New Roman', Times, serif;
}

/* Ссылки внутри панели */
.navbar a {
    /* Как размещать элементы */
    float: left;
    /* Размер шрифта */
    font-size: 20px;
    /* Цвет текста */
    color: white;
    /* Выравнивание */
    text-align: center;
    /* Отступы по вертикали и горизонтали */
    padding: 14px 16px;
    /* Оформление */
    text-decoration: none;
    /* Границы */
    border: 6px outset red;
}

/* Выпадающий список для панели */
.dropdown {
    /* Как размещать элементы */
    float: left;
    /* Что делать с переполнением */
    overflow: hidden;
}

/* Кнопка выпадающего списка */
.dropdown .dropbtn {
    /* Размер шрифта */
    font-size: 20px;
    /* Границы */
    border: 6px outset red;
    /* Параметры рамки */
    outline: none;
    /* Цвет текста */
    color: white;
    /* Отступы по вертикали и горизонтали */
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Цвет при наведении */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

/* Элементы списка (hidden by default) */
.dropdown-content {
    /* Отображение списка */
    display: none;
    /* Позиция (как неожиданно) */
    position: absolute;
    background-color: #ffffff;
    /* Минимальная ширина */
    min-width: 160px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    /* Отображение слоев */
    z-index: 1;
    
}

/* Элементы внутри списка */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Фон элементов внутри списка */
.dropdown-content a:hover {
    background-color: #cca8a8;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}




/* Оформление подвала */
/* FIX: Не правильно работает когда контента немного */

footer.footer {
    background: #720481;
    width: auto;
    height: 50px;
    /* Тень текста */
    text-shadow: 4px 4px 4px #000000;
    /* Цвет текста */
    color: #08e313cd;
    padding-top: 2px;
    border-radius: 10px;
    border-style: double;
    margin-top: 5px;
}


/* Оформление текста */
p.p {
    max-width: 70%;
    padding-left: 30%;
    /* Шрифт */
    font-family: 'Times New Roman', Times, serif;
    /* Стиль (нормальный, курсив и т.д.) */
    font-style: normal;
    /* Капитель (особые пропписные буквы) */
    font-variant: normal;
    /* Насыщенность шрифта */
    font-weight: normal;
    /* Размер текста */
    font-size: 22px;
    
    /* Интерлиньяж (межстрочный интервал) */
    line-height: normal;
    /* Оформление */
    text-decoration: none;
    /* Эффекты */
    text-transform: none;
    /* Выравнивание текста */
    text-align: center;
    /* Отступ первой строки */
    text-indent: 0%;
}